/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/**
* jqgrid里的图片样式
*/
.zdy-jqgrid-image{
    margin-bottom: 10px;
    height:40px;
}
.zdy-jqgrid-p{
    margin-bottom: -20px;
    white-space: normal;
}

.zdy-jqgrid-p:last-child{
    margin-bottom: -5px;
    white-space: normal;
}
.filed_required{
    color:red;
}

/**
sggrid里的图片样式
*/
.zdy-sggrid-image{
    margin-bottom: 10px;
}

/*dialogs*/
/*.customelement .radio-inline input {*/
    /*margin-left: -30px;*/
/*}*/
.customelement .checkbox-inline:first-child {
    margin-left: 10px;
}
.typeahead {
    z-index: 10051;
}
#theme_name{margin-left:0;}
#theme_name li{border-top:1px solid #ddd;padding:0;}
#theme_name li:last-child{border-right:1px solid #ddd;}
#theme_name li a{border:1px solid #ddd;border-top:0;border-right:0;display: block;padding:6px 10px;}







